{% extends "base.html" %}
{% block content %}
    <h1>Cookies and Cupcakes</h1>
    <div class="items">
    <figure>
    <img src="../static/images/cupcake cookie2.jpg" alt="cupcake cookie" title="cupcake cookie"  />
    <figcaption class="description">Cupcake cookies</figcaption>
        </figure>
        <figure>
    <img src="../static/images/shira flower.jpg" alt="cookie with name and flower" title="cookies with name and flower" />
            <figcaption class="description">Name & flower cookies</figcaption>
        </figure>
        <figure>
    <img src="../static/images/12.jpg" alt="cookies with a 12" title="12 cookies" />
            <figcaption class="description">Number cookies</figcaption>
        </figure>
    <figure>
    <img src="../static/images/flower cupcake2.jpg" alt="flower cupcakes" title="flower cupcakes" />
        <figcaption class="description">Flower cupcakes</figcaption>
    </figure>
        <figure>
    <img src="../static/images/yosef shlomo.jpg" alt="cookies with name and tefillin" title="bar mitzvah cookies" />
            <figcaption class="description">Name & tefilin cookies</figcaption>
        </figure>
        <figure>
    <img src="../static/images/apple2.jpg" alt="apple cupcakes" title="Rosh Hashana Apple Cupcakes" />
            <figcaption class="description">Apple cupcake</figcaption>
        </figure>
        <figure>
    <img src="../static/images/lifeguard2.jpg" alt="lifeguard cookies" title="Lifeguard cookies" />
            <figcaption class="description">Beach cookies</figcaption>
        </figure>
    </div>
{% endblock %}