{% extends "base.html" %}
{% block content %}
<h1>Desserts</h1>
    <div class="items">
    <figure>
    <img src="../static/images/strawberry shortcake.jpg" alt="strawberry shortcake" title="strawberry shortcake" />
    <figcaption class="description">Strawberry shortcake</figcaption>
        </figure>
        <figure>
    <img src="../static/images/dessert.jpg" alt="chocolate gelato" title="chocolate gelato" />
            <figcaption class="description">Chocolate gelato</figcaption>
        </figure>
    </div>
{% endblock %}