{% extends "base.html" %}
{% block content %}
    <div class="grid">
     <img  class="dessert" src="../static/images/dessert.jpg" title="chocolate gelato" alt="picture of chocolate gelato" width="400px" height="300px" />
    <h1 class="first">Baked </h1>
    <h2 class="second">by Miriam</h2>
    </div>
    <hr />
<footer>
<div class="footer">
<p class="contact">Contact Us:</p>
<img class="logo" src="../static/images/phone.png" title="phone" alt="phone" height=15px width=15px />
<p class="contact">516-512-9360</p>
    <img class="logo" src="../static/images/email.png" title="phone" alt="phone" height=15px width=15px />
<p class="contact">miriambistricer@gmail.com</p>
</div>
</footer>
{% endblock %}




